@import './variables'

*, *:before, *:after
  box-sizing border-box

html, body
  height 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

body
  position relative
  font-family 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif
  line-height 1.42857
  color #333
  background-color #f7f8fb

button
  outline none

img
  content normal !important

a
  text-decoration none

.g_wrap
  margin 0 auto
  max-width 1200px
  padding 0 15px

.my-toast
  text-align center
  font-size 24px !important
  line-height 1.7 !important

.animate__animated.ad1
  animation-duration: 1s;

.animate__animated.ad2
  animation-duration: 2s;

.animate__animated.ad3
  animation-duration: 3s;

.animate__animated.ad4
  animation-duration: 4s;

.animate__animated.ad5
  animation-duration: 5s;

.animate__animated.ad6
  animation-duration: 6s;

.animate__animated.ad7
  animation-duration: 7s;

.animate__animated.ad8
  animation-duration: 8s;

.animate__animated.ad9
  animation-duration: 9s;

.animate__animated.ad10
  animation-duration: 10s;
